<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Page Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

<style>
    * {
        padding: 0;
        margin: 0;
    }
    .container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .left-drawer {
        position: absolute;
        top: 92px;
        left: 0;
        height: 700px;
        background-color:#333333;
        color: #fff;
        transition: all 0.15s ease-in;
        z-index: 250;
    }
    .right-drawer{
        position: absolute;
        top:0;
        right: 0;
        height: auto;
        background-color: #333333;
        color: #fff;
        transition: all 0.15s ease-in;
        z-index: 250;
        margin-top: 39px;
    }
    .left-drawer--hide {
        transform: translateX(-100%);
    }

    .right-drawer--hide {
        transform: translateX(100%);
    }

    .toggle-btn {
        position: fixed;
        top: 50%;
        width: 25px;
        height: 80px;
        text-align: center;
        line-height: 30px;
        transform:translateY(50%);
        background-color: #333;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        border: none;
        outline: none;
        z-index: 250;
    }
    .toggle-btn-left {
        position: fixed;
        top: 50%;
        left: 13%;
        background-image: url(img/left.png);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .btn-left-temp{        
        position: fixed;
        top: 50%;
        left: 0;
    }

    .toggle-btn-right {
        position: fixed;
        top: 50%;
        right: 35%;
        background-image: url(img/right.png);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }    
    .btn-right-temp{        
        position: fixed;
        top: 50%;
        right:0;
    }

    .left-drawer {
        width: 13%;
        left: 0;
        overflow: auto;
    }

    .right-drawer {
        width: 35%;
        right: 0;
    }

</style>
</head>
<body>
<div id="nav">
    <div id="img" style="float: left;">
        <img src="img/logo.png" style="margin-left: 10px;margin-top: 10px;">
    </div>
    <div id="navli">
        <ul>
            <li id="li-mylesson"><a href="#">我的课程</a></li>
            <li id="li-login"><a href="#">登陆</a></li>
            <li id="li-register"><a href="#">注册</a></li>
        </ul>
    </div>
</div> 

<div>
   <div class="left-drawer drawer">
        <!-- 收起/展开按钮 -->
        <div id="search" style="background-color: #111114;text-align: center;padding: 2px;">
            <p><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbspweb 图谱搜索</p>
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </span>
                    </div>
                  </div>
            </div>
        </div>

        <div id="leftli">
            <ul class="firstul">
                <li class="firstli" id="sch"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbsp学校                   
                </li>
                <div class="secmenu" id="sch-secmenu">
                       <ul>
                            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbsp佛山科学技术学院</li>
                        </ul> 
                </div> 
                <li class="firstli" id="lesson"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbsp课程                    
                </li>
                <div class="secmenu" id="les-secmenu">
                        <ul>
                            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbsp c</li>
                            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbsp c#</li>
                            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbsp php</li>
                            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbsp java</li>
                            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbsp python</li>
                        </ul>
                </div>
                <li class="firstli" id="teacher"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbsp老师                   
                </li>
                <div class="secmenu" id="tea-secmenu">
                       <ul>
                            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbspteacher1</li>
                            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbspteacher2</li>
                            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp&nbspteacher3</li>
                        </ul> 
                </div> 
            </ul>
        </div>      
    </div> 
    <div>
        <button class="toggle-btn toggle-btn-left"></button>
    </div> 
</div>


<div class="container">   
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width:100%;height:400px;"></div>
    
</div>

<div class="right-drawer drawer">
    <div class="container" id="schmsg-tab">
        <div class="row">
            <div class="col-md-6 schmsg-tab" style="background-color:#FFCC00;" id="basemsg">基本信息</div>
            <div id="dataview" class="col-md-6 schmsg-tab" style="background-color: #000;">数据可视化</div>
            <div id="schmsg" style="width: 100%;height: 750px;background-color: #333333;">
                <div style="padding-left: 20px;width: auto;font-size: 18px;">
                    <span><img src="img/water.png"></span><span style="color: #66CCFF;font-family: '微软雅黑';">课程信息</span>
                </div>
                <div style="height: 300px;width: 100%;margin-top: 3px;border-top: 2px solid #66CCFF;border-bottom: 2px solid #66CCFF;">
                    <div class="img-introduce" style="height: 296px;width: 50%;float: left;border-right: 1px dotted #66CCFF;overflow: auto;">
                        <img src="img/c.gif" style="width: 80px;height: 80px;padding-left: 25px;padding-top: 25px;float: left;">
                        <div style="float: right;padding-right: 10px;padding-top: 25px;">
                            <p style="font-size: 18px;height:18px;">c语言</p>
                            <p style="font-size: 15px;height:15px;">教师：<span><a href="#">丁国柱</a></span></p>
                            <p style="font-size: 12px;height:12px;">创建时间：<span>2016-04-04</span></p>

                            <button type="button" class="btn btn-default" style="margin-top: 10px;width: 100px;background-color:#FFCC00;color: #fff;">数据申请</button>
                        </div>
                        <div style="height:auto;width: 90%;clear: both;margin: 0 auto;">
                            <img src="img/课程_07.gif" style="width: 100%;height: 100px;margin-top: 25px;">
                        </div>
                    </div>

                    <div class="text-introduce" style="height: 300px;width: 50%;float: right;">
                        <!-- pre -->
<pre style="padding: 8px;background-color: #333333;border:none;width: 100%;height: 282px;overflow: auto;color: #fff;font-size: 24px;font-family: '微软雅黑';word-wrap: break-word;white-space: pre-wrap;">
c语言是一门程序设计语言，具有由循环结构/结构体/函数/针等结合而成，时学习计算机专业的最基本的一门语言。
</pre>
                    </div>

                </div>
                <div id="data">
                    <div style="width: 60%;float: left;border-right: 1px dotted #66CCFF;padding-right: 3px;">
                        <div style="overflow-x:auto;height:125px;width: 100% ;overflow-y: hidden;white-space: nowrap;">
                            <ul style="padding:5px;width: auto;float: none;" class="imgul">
                                <li><img src="img/课程_11.gif"><p>教师 <span>15</span></p></li>
                                <li><img src="img/课程_13.gif"><p>学生 <span>95</span></p></li>
                                <li><img src="img/课程_16.gif"><p>实体知识 <span>1125</span></p></li>
                            </ul>
                        </div>
                        <div style="padding: 15px;">
                            <p>课程属性</p>
                            <div>
                                <table class="datatab">
                                    <tr>
                                        <th>课程名称</th>
                                        <th>教师</th>
                                        <th>学生数</th>
                                        <th>实体知识</th>
                                    </tr>
                                    <tr>
                                        <td>c语言</td>
                                        <td>丁国柱</td>
                                        <td>59</td>
                                        <td>1213</td>
                                    </tr>                                    
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="width: 40%;height:380px;float: right;">
                        <ul class="edit">
                            <li>+</li>
                            <li>-</li>
                            <li>edit</li>
                        </ul>
                        <div style="background-color: #66CCFF;height: 2px;width: 100%;clear: both;"></div>
                        <div style="padding: 15px;overflow: auto;height: 360px;">
                            <p>最近一周记录</p>
                            <ul class="record">
                                <li>教师<a href="">xxx</a>创建了<a href="">实体知识</a>xxxxxxxxx</li>
                                <li>教师<a href="">xxx</a>创建了<a href="">实体知识</a>xxxxxxxxx</li>
                                <li>教师<a href="">xxx</a>创建了<a href="">实体知识</a>xxxxxxxxx</li>
                                <li>教师<a href="">xxx</a>创建了<a href="">实体知识</a>xxxxxxxxx</li>
                                <li>教师<a href="">xxx</a>创建了<a href="">实体知识</a>xxxxxxxxx</li>
                                <li>教师<a href="">xxx</a>创建了<a href="">实体知识</a>xxxxxxxxx</li>
                                <li>教师<a href="">xxx</a>创建了<a href="">实体知识</a>xxxxxxxxx</li>
                                <li>教师<a href="">xxx</a>创建了<a href="">实体知识</a>xxxxxxxxx</li>
                                <li>教师<a href="">xxx</a>创建了<a href="">实体知识</a>xxxxxxxxx</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="datamsg" style="width: 100%;height: 750px;background-color: #999999;display: none;">
            </div>
        </div>
    </div>              
</div>
<button class="toggle-btn toggle-btn-right"></button>



<script src="js/echarts.min.js"></script>
<!-- 注册tab -->
<script type="text/javascript">
    $('#self').click(function(){
        $('#selfregister').css("display","block");
        $('#comregister').css('display','none');
    });
    $('#school').click(function(){
        $('#selfregister').css("display","none");
        $('#comregister').css('display','block');
    });
</script>
<!-- schmsgtab -->
<script type="text/javascript">
    $('#basemsg').click(function () {        
        $('#schmsg').css("display","block");
        $('#datamsg').css('display','none');
    });
    $('#dataview').click(function () {        
        $('#datamsg').css("display","block");
        $('#schmsg').css('display','none');
    });
</script>
<!-- 侧栏显示，隐藏 -->
<script>
$(document).ready(function(){ 
    var i=1;
    $('.toggle-btn-left').click(function () {
        // body...        
        $('.left-drawer').toggle();
        $('.toggle-btn-left').toggleClass('btn-left-temp');
    });

    $('.toggle-btn-right').click(function () {
        // body...
        $('.right-drawer').toggle();
        $('.toggle-btn-right').toggleClass('btn-right-temp');
    });

});
</script>

<script type="text/javascript">
    $('#sch').click(function () {
        // body...
        $('#sch-secmenu').toggle();
    });
    $('#lesson').click(function () {
        // body...
        $('#les-secmenu').toggle();
    })
    $('#teacher').click(function () {
        // body...
        $('#tea-secmenu').toggle();
    })

</script>
</body>
</html>